@media screen and (max-width : 500px){
    .container{
        width: 70%;
        margin: auto;
        text-align: center;
    }
    h1{
        font-size: 4rem;
        /* margin: auto; */
    }
    .dice{
        display: inline-block;
        text-align: center;
        margin: 20px;
    }
    p {
        font-family: "Indie Flower", cursive;
        font-size: 2rem;
      }
    img{
        width:25vw
    }
    footer {
        margin-top: 5%;
        color: #EEEEEE;
        text-align: center;
        font-family: 'Indie Flower', cursive;
      }
}
